<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>
<body>

    <%- include('../layouts/header.ejs') %>

    <h1 style="text-align: center;color: cadetblue;">Edit Blog</h1>
    <form action="/blogs/editBlog" method="post" enctype="multipart/form-data">
        <input type="hidden" name="bId" value="<%= singleBlog.id %>">
        <table border="1" align="center">
            <tr>
                <td>Category :</td>
                <td>
                    <select name="category">
                        <option value="">-- select category</option>
                        <% categoryData.map((v)=>{ %>
                        <option value="<%= v.id %>" <% if(singleBlog.category = 'v.id' ){ %><%= 'selected' %> <% } %> ><%= v.categoryName %></option>
                        <% }) %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Title :</td>
                <td><input type="text" name="title" value="<%= singleBlog.title %>" /></td>
            </tr>
            <tr>
                <td>Description :</td>
                <td><textarea name="about" ><%= singleBlog.about %></textarea></td>
            </tr>
            <tr>
                <td>Image :</td>
                <td>
                    <input type="file" name="image" />
                    <img src="<%= singleBlog.image %>" height="100" alt="">
                </td>
            </tr>
            <tr>
                <td>Author :</td>
                <td><input type="text" name="author" value="<%= singleBlog.author %>"/></td>
            </tr>
            <tr>
                <td>Date :</td>
                <td><input type="date" name="blogDate" value="<%= singleBlog.blogDate %>"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="Edit Blog" /></td>
            </tr>
        </table>
    </form>
    
</body>
</html>