<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blogs</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <a href="/blogs">Add Blog</a> 
    <h1>View Blogs</h1>

    <% ViewBlog.map((v, i) => { %>
        <div class="blog-container">
            <div>
                <img src="<%= v.image %>" alt="<%= v.title %>">
            </div>
            <h3><%= v.title %></h3>
            <h4>Author: <%= v.author %></h4>
            <p><%= v.about %></p>
            <p class="category">Category: <%= v.category %></p>
            <p class="date">Date: <%= v.blogDate %></p>
        </div>
    <% }) %>

</body>
</html>
